# Configuration Supabase
VITE_SUPABASE_URL=https://dhuuduphwvxrecfqvbbw.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRodXVkdXBod3Z4cmVjZnF2YmJ3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjgyMTEyODksImV4cCI6MjA4Mzc4NzI4OX0.RyURwma808AT0PqFIWXpe6NIdIdoscYN5GiC8Dh7Ktk

# Configuration Resend (Email)
VITE_RESEND_API_KEY=your-resend-api-key

# Configuration de l'application
VITE_APP_NAME=ATTRIB UCLouvain
VITE_APP_VERSION=1.0.0 